## Book Availability Update

In [34]:
import pandas as pd

In [35]:
data = {
    'book_id': [0, 1, 2, 3, 4],
    'book_title': ['Moby Dick', '1984', 'To Kill a Mockingbird', 'The Great Gatsby', 'Pride and Prejudice'],
    'copies_available': [5, 7, 3, 2, 10]
}
df_books = pd.DataFrame(data)

In [36]:
df_books

   book_id             book_title  copies_available
0        0              Moby Dick                 5
1        1                   1984                 7
2        2  To Kill a Mockingbird                 3
3        3       The Great Gatsby                 2
4        4    Pride and Prejudice                10

In [37]:
df_books.loc[df_books['book_id'] == 3, 'copies_available'] = 8

In [38]:
df_books

   book_id             book_title  copies_available
0        0              Moby Dick                 5
1        1                   1984                 7
2        2  To Kill a Mockingbird                 3
3        3       The Great Gatsby                 8
4        4    Pride and Prejudice                10